doctype html
html(lang='en')
  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel='stylesheet' href='/styles/importer.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css')

  body
    .fit-section-blue
      nav.text-xs-center.text-md-left 
        button.fit-logo Fitter
      
      .container
        .row
          h1.text-xs-center Let your phone do the work
          h5.text-xs-center
            | Magically 
            span.fit-keyword detect
            |  and 
            span.fit-keyword track 
            | your entire workout!

        .row.fit-signup-row
          .col-xs-12.col-md-6.text-xs-center
            img(src="/images/main_phone.png")
          .col-xs-12.col-md-6
            form#signupForm.text-xs-center
              fieldset.form-group
                label.fit-prompt.text-xs-center() Get early
                  br
                  | access!
                center
                  .spinner
                    .bounce1
                    |    
                    .bounce2
                    |    
                    .bounce3
                center
                  .emailSent.animation-target
                    span.sentMessage
                center
                  input#userEmail.form-control.text-xs-center(type='email', name="email" placeholder='email' required)
              button#submitBtn.btn.fit-submit
                b Get Free Beta
    .fit-section-white
        .container
          .row.howItWorksHeader.text-xs-center
            h3#howItWorks.text-xs-center How it works
            center
              h5.text-xs-center Fitter uses recent advancements in 
                span.fit-keyword BLE technology 
                | to automatically 
                span.fit-keyword detect 
                | and 
                span.fit-keyword track 
                | which exercise you are doing, the 
                span.fit-keyword weight
                |, and 
                span.fit-keyword reps
          .row.howitworksSteps
            .col-sm-12.col-lg-4.text-xs-center
              .row.stepRow
                .col-xs-12.imgContainer
                  img(src="/images/estimote.png" style="width: 200px")
                .col-xs-12
                  p.fit-step.text-xs-center
                    | Beacons provide location awareness in your gym
            .col-sm-12.col-lg-4.text-xs-center
              .row.stepRow.middle
                .col-xs-12.imgContainer
                  img(src="/images/detected.png" style="width: 250px")
                .col-xs-12
                  p.fit-step.text-xs-center
                    | Your phone detects where you are, and what you are doing
            .col-sm-12.col-lg-4.text-xs-center
              .row.stepRow
                .col-xs-12.imgContainer
                  img(src="/images/graph.png" style="width: 250px")
                .col-xs-12
                  p.fit-step.text-xs-center
                    | Get awesome metrics - your weight, reps,  sets, and more!

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js')
    //- PURECHAT SCRIPT 
    script(type='text/javascript' data-cfasync='false').
      window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '95e2e216-23d0-4062-bf92-1869b4a3b3ff', f: true }); done = true; } }; })()

    //- GOOGLE ANALYTICS
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73097743-1', 'auto');
      ga('send', 'pageview');

    script.

      function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
      }

      $('#submitBtn').click(function(){
        event.preventDefault();
        if(validateEmail($('#userEmail').val())){
          // hide/show input and stuff
          $('#userEmail').hide();
          $('.spinner').show()
          $('#submitBtn').hide()
        }else {
          sweetAlert("Oops...", "Please enter a valid email address! We won't spam you, we promise", "error");
        }

        $.ajax({
          type: 'POST',
          url: 'http://localhost:1337/user',
          contentType: "application/x-www-form-urlencoded",
          data: {
            email: $('#userEmail').val()
          },
          success: function(){
            $('.spinner').hide()
            $('.sentMessage').html('Email sent to ' + $('#userEmail').val())
            $('.emailSent').show();

            swal({
              title:"Get ready!",
              text:"Your beta access kit is on it's way to your email!",
              type:"success"
            });
          },
          failure: function(){
            sweetAlert("Oops...", "Please enter a valid email address! We won't spam you, we promise", "error");
          }
        })
      })
